.carousel-product-view {
          background-color: #E2E3FF;
          width: 43.75rem;
          height: 35.68rem;
          display: flex;
          justify-content: center ;
          align-items: center ;
}

.carousel-item-row-product-view{
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
}


.carousel-control-prev-icon-product-view{
          border: none;
          display: inline;
}

.carousel-control-next-icon-product-view{
          border: none;
          display: inline;
}

.carousel-indicators-product-view button {
          display: none;
}

.carousel-product-view .primeiro{
          background-color: #E2E3FF;
          width: 43.75rem;
          height: 35.68rem;
}

.carousel-product-view .segundo{
          background-color: #FFE8BC;
          width: 43.75rem;
          height: 35.68rem;
}

.carousel-product-view .terceiro{
          background-color: #FFC0BC;
          width: 43.75rem;
          height: 35.68rem;
}

.carousel-product-view .quarto{
          background-color: #DEC699;
          width: 43.75rem;
          height: 35.68rem;
}

.carousel-product-view .quinto{
          background-color: #E8DFCF;
          width: 43.75rem;
          height: 35.68rem;
          
}

