.cart-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cart-content {
  width: 70%;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #fff;
}

.cart-header {
  gap: 47px;
  height: 30px;
  width: 830px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.cart-header h2 {
  font-size: 15px;
}

.discount-shipping {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.discount, .shipping {
  display: flex;
  align-items: center;
}

.discount input, .shipping input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.discount button, .shipping button {
  padding: 10px;
  background-color: #ff00ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.cart-item {
  Width: 830px;
  Height:104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.item-details {
  display: flex;
}

.item-details img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.item-info h2 {
  font-size: 16px;
  margin: 0;
}

.item-info p {
  margin: 5px 0;
}

.item-quantity {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.item-quantity button {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.item-quantity span {
  margin: 0 10px;
}

.remove-item {
  margin-left: 10px;
  color: #ff0000;
  cursor: pointer;
}

.item-pricing {
  text-align: right;
}

.original-price {
  text-decoration: line-through;
}

.discounted-price {
  font-weight: bold;
}

.cart-summary {
  width: 300px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #fff;
}

.cart-summary h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.summary-details p {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.total-price {
  color: #ff0000;
  font-weight: bold;
}

.installments {
  font-size: 14px;
  color: #888;
}

.continue-button {
  width: 100%;
  padding: 10px;
  background-color: #ffa500;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
