.colecao-destaque-icons {
          width: 100%;
          height: 40vh;
          margin-bottom: 5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          
}

.colecao-destaque-icons-escopo {
          width: 44.5rem;
          height: 12.25rem;
}

.titulo-colecao-destaque {
          font-size: 1.5rem;
          font-family: var(--font_primaria);
          font-weight: var(--font_weight_bold);
          letter-spacing: 0.75px;
          color: var(--dark-gray-2);
          text-align: center;
          margin-bottom: 2rem;
}

.cards-colecao-destaque {
          display: flex;
          justify-content: space-between;
          align-items: center;
}


.cards-colecao-destaque .bola-destaque{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
}

.cards-colecao-destaque .bola-destaque a{
          width: 6.5rem;
          height: 6.5rem;
          background-color: var(--white);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.3s ease;
}

.cards-colecao-destaque .bola-destaque a:hover{
          transform: scale(1.02);
          
}

.cards-colecao-destaque .bola-destaque img{
          background-image: var(--light-gray) ;
          transition: 0.2s ease;
}

.color-hover:hover {
          filter: invert(18%) sepia(78%) saturate(5533%) hue-rotate(323deg) brightness(96%) contrast(99%);
}


.cards-colecao-destaque .bola-destaque h4{
          margin-top: 0.5rem;
          font-size: 0.875rem;
          font-family: var(--font_primaria);
          font-weight: var(--font_weight_bold);
          letter-spacing: 0.75px;
          color: var(--dark-gray-2);
}

