.topo {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 565px;
}

.topo>div {
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.element {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}

.Imagem img {
    width: 100%;
}

.texto1 {
    color: #f6aa1c;
    font-weight: 600;
    font-family: "Inter";
}

.titulo {
    color: #474747;
    font-weight: 700;
    font-family: "Inter";
}

.element a {
    width: 200px;
    background-color: #f6aa1c;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;

}

.titulo2 {
    color: #474747;
    font-family: "Inter";

}
